.title-head {
	font-family: 'Gloria Hallelujah', cursive;
	font-weight: bold;
	letter-spacing: 3px;
	font-size: 25px;
}

.circular-pic {
	overflow: hidden;
	border-radius: 50%;
}

.bg-main-gradient {
	background-image: linear-gradient(to right, #da4453, #89216b) !important;
	color: white;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
	outline: 0 none;
}

.like{
	cursor: pointer;
	margin-right: 10px;
}